/** GENERAL STYLING **/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 80% 20%;
}

strong {
  font-size: 56px;
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  position: absolute;
  left: 0;
  top: 0;
}

textarea:focus {
  border: 1px solid black;
  resize: both;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-right: 20px;
}

ul li button {
  border: 1px solid black;
  border-radius: 25%;
  background: unset;
  padding: 20px;
  font-family: inherit;
}

canvas {
  display: block;
}


/** UTILITY CLASSES **/
.hidden {
  display: none !important;
}

/** APP SPECIFIC **/
#whiteboard {
  position: relative;
}

/** TOOLS **/
#tools {
  border-top: 5px solid #000;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* height: 150px; */
  padding: 15px;
}

.tool.active {
  background-color: cyan;
}

.tool-container {
  position: relative;

  display: flex;
  align-items: flex-start;
}

.tool-container > button + button {
  margin-left: 5px;
}

/** Colour Picker **/
[data-colour="red"] {
  background-color: red;
}
[data-colour="blue"] {
  background-color: blue;
}
[data-colour="green"] {
  background-color: green;
}
[data-colour="yellow"] {
  background-color: yellow;
}
[data-colour="purple"] {
  background-color: purple;
}
[data-colour="black"] {
  background-color: black;
}

.colour,
.colour-choice {
  border-radius: 50%;
  padding: 15px;
}

.colour-choice.active {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
}

.tool-container .colour-picker {
  position: absolute;
  top: -150px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  background: white;
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
}

/** Text **/
.add-text {
  cursor: text;
}
